{% extends 'adminnavbar.html' %}
{% block content %}
<h3 align="center" style="color:green">{{ msg }}</h3>
<h2 align="center" style="color:blue">Add Course</h2>
<body style="background-color:linen">
<form action="add_course" method="post">
  {% csrf_token %}
  <table align="center">
    <tr>
      <td><b>CourseName:</b></td>
      <td><input type="text" name="txtCourseName"></td>
    </tr>
    <tr>
      <td><b>CourseDuration:</b></td>
      <td><input type="text" name="txtCourseDuration"></td>
    </tr>
    <tr>
      <td><b>CourseFees:</b></td>
      <td><input type="text" name="txtCourseFees"></td>
    </tr>
    <tr>
      <td align="center" colspan="2">
        <input type="submit" name="btnsubmit" value="AddCourse">
      </td>
    </tr>
  </table>
</form>
</body>
{% endblock %}