{% extends 'adminnavbar.html' %}

{% block content %}
<h2 align="center" style="color:RED">Add Student</h2>
<body style="background-color:yellow">
<form action="addstudent" method="post">
  {% csrf_token %}
  <table align="center">
      <tr>
          <td><b>StudentName:</b></td>
          <td><input type="text" name="txtName"></td>

      </tr>
        <tr>
          <td><b>StudentPhno:</b></td>
          <td><input type="text" name="txtphno"></td>
      </tr>
        <tr>
          <td><b>StudentEmail:</b></td>
          <td><input type="text" name="txtemail"></td>
      </tr>
      <tr>
          <td><b>studentcity</b></td>
          <td>
              <select name="ddlcity">
                  <option>---select city--</option>
              {% for i in CityData %}
                  <option>{{ i.city_name }}</option>
              {% endfor %}
              </select>
          </td>
      </tr>
      <tr>
          <td><b>Course</b></td>
          <td>
              <select name="ddlcourse">
                  <option>---select course--</option>
              {% for i in CourseData %}
                  <option>{{ i.course_name }}</option>
              {% endfor %}
              </select>
          </td>
      </tr>
      <tr>
          <td><b>Coursefee</b></td>
          <td><input type="text" name="txtcoursefee" disabled></td>
      </tr>
      <tr>
          <td><b>Paid Fees</b></td>
          <td><input type="text" name="txtpaid"></td>
      </tr>
       <tr>
          <td><b>Pending Fees</b></td>
          <td><input type="number" name="txtpaidfees"></td>
      </tr>
      <tr>
          <td>
              <input type="submit" name="btnadd" value="AddStudent">
          </td>
      </tr>
</table>
</form>
</body>
{% endblock %}